<h1 class="text-center">Commandes</h1>
<form>
<div class="form-group ">
  <label for="one">Enter name</label>
  <input type="text" [(ngModel)]="myCommande.name"
    class="form-control" name="name" id="one" aria-describedby="helpId" placeholder="Enter name">
  
</div>
<div class="form-group">
    <label for="two">Enter prix</label>
    <input type="text" [(ngModel)]="myCommande.prix"
      class="form-control" name="prix" id="two" aria-describedby="helpId" placeholder="Enter prix">
     <button *ngIf="!myCondition" (click)="postCommande()" type="button" class="btn btn-primary w-100 mt-4  ">Add</button>
  <button *ngIf="myCondition" (click)="updateMycommande()" type="button" class="btn btn-warning w-100 mt-4  ">Update</button>
  </div>
 
  
</form>
<h2 *ngIf="myArray.length==0" class="alert alert-danger text-center w-50 mt-3 ">On a aucune commande</h2>
<table *ngIf="myArray.length>0" class="table table-success table-block mt-5">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Prix</th>
            <th> </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let myVariable of myArray">
            <td>{{myVariable.id}}</td>
            <td>{{myVariable.name}}</td>
            <td>{{myVariable.prix}}</td>
            <td>
                <button (click)="deleteCommande(myVariable.id)" type="button" class="btn btn-danger">Delete</button>
            </td>
            <td>
                <button (click)="editCommande(myVariable)" type="button" class="btn btn-warning">Update</button>
            </td>
        </tr>
    </tbody>
</table>